.wrapper {
  display: grid;
  grid-template-areas: "navBar" "banner" "main" "parallax";
}

body {
  margin: auto;
  background-color: #2d2d30;

}

.navbar {
  grid-area: navBar;
  display: block;
  z-index: 10;
  position: absolute;
  background-color: #2d2d30;
  width: 100%;
  color: white;
  height: 80px;
}

.selections {
  font-size: 18px;
}

.navBar li {
  display: inline-block;
  padding-left: 40px;
}

ul {
  list-style-type: none;
}

.logo {
  height: 10px;
}

/*CSS for dropdowns*/

.dropbtn {
  background-color: #2d2d30;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3e3e42;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #2d2d30;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #2d2d30;
  border-color: #194893;
  border-bottom: solid;
  padding-bottom: 8px;
  margin-bottom: 5px;
}

/*End of CSS for dropdown*/

.search {
  background-color: #2d2d30;
  color: white;
  padding-left: 25px;
  font-size: 20px;
  border: none;
}

.form {
  font-size: 20px;
}

/*Start of CSS for searchbox*/

input[type=search] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 0px 20px 3px 0px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
  width: 100%;
}

/*End of CSS for searchbox*/

.banner {
  grid-area: banner;
}

.main{
  height: auto;
}

.mainText {
  font-size: 18px;
  height: 300px;
  color: white;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3e3e42;
  width: auto;
}

.parallax {
  grid-area: parallax;
  background-image: url("invImage.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

/*Start of CCSS for Newsletter*/
form {
    font-family: Arial;
}

.container {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 600px;
    color: white;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

.subButton {
    background-color: #194893;
    color: white;
    border: none;
    width: 140px;
    margin: 0 auto 0 auto;
    display: block;
    height: 30px;
}

.subButton:hover {
    opacity: 0.9;
}
/*End of CSS for Newsletter*/

.footer ul {
  display: inline-block;
}

.footer {
  padding-bottom: 40px;
  text-align: center;
  background-color: #2d2d30;
}

.footer li {
  color: white;
}

.subTitle {
  padding-bottom: 8px;
}

img {
  vertical-align: middle;
  max-height: 650px;
  object-fit: cover;
}

/*Below is CSS for slideshow*/

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

.slide {
  vertical-align: middle;
  max-height: 650px;
  min-height: 550px;
  object-fit: cover;
}

/* Slideshow container */

.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
}

/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
